@model IEnumerable<RoleAndUsersCountViewModel>

@{
    ViewData["Title"] = "مدیریت نقش‌های سیستم";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <div class="col-md-6">
                <h3 class="box-title">مدیریت نقش ها</h3>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="card-header">
                        <h5 class="card-title">@ViewData["Title"]</h5>
                    </div>
                    <div class="card-body">
                        <partial name="_AllRolesList" model="Model" />
                    </div>
                    <footer class="card-footer">
                        <a class="btn btn-success" href="#" id="btnCreate">ایجاد یک نقش جدید</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</section>



@section Scripts
    {


    <script type="text/javascript">
        $(function () {
            $('#btnCreate').click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("AddRole", "RolesManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderRole", "RolesManager")',
                    renderModalPartialViewData: {},
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnEdit']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var roleId = $(this).data("edit-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("EditRole", "RolesManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderRole", "RolesManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": roleId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var roleId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "RolesManager")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDeleteRole", "RolesManager")',
                    renderModalPartialViewData: JSON.stringify({ "id": roleId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });


        });
    </script>
}