@using NToastNotify.Helpers
@model QtasHelpDesk.ViewModels.Content.PostViewModel


<div class="card">
    <div class="card-header" >
        <h6 class="panel-title text-white" itemprop="headline_name">
            <a class="card-link text-white" href="@Url.Action("ShowPost", "Post", new {postId = Model.Id})">    <i class="fa fa-info-circle"></i>@Model.Title </a>   
        </h6>
    </div>

    <div class="card-body">
       @Html.Raw( @WebUtility.HtmlDecode(@Model.Summary))

    </div>
    <div class="card-footer">
        <i class="fa fa-user-circle"></i> نوشته شده توسط :@Model.UserFullName<i class="fa fa-clock-o"></i>  @Model.Date
        @if (Model.FilePath != null)
        {
            <a href="@Url.Action("ShowPdf", "Post", new {postId = Model.Id})" class="btn btn-success" target="_blank">
                <i class="fa fa-tag"></i>
                دریافت فایل
            </a>
        }

    </div>

</div>

