@model QtasHelpDesk.ViewModels.Content.InformationViewModel
@{
    ViewData["Title"] = "_Slider";
    int sliderNumber = 0;
}

<div class="card">
    <div class="card-header">
        <h6 class="panel-title" itemprop="headline_name">
            آخرین مطالب
        </h6>
    </div>
    <div class="card-body" style="padding:0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">

                @foreach (var faqtModel in Model.FaqViewModels)
                {
                    if (faqtModel.Id == Model.PostViewModels.FirstOrDefault()?.Id)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@sliderNumber" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@sliderNumber"></li>
                    }

                    sliderNumber++;

                }

                @foreach (var postModel in Model.PostViewModels)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@sliderNumber"></li>
                    sliderNumber++;
                }

            </ol>
            <div class="carousel-inner">

                @foreach (var faqtModel in Model.FaqViewModels)
                {
                    if (faqtModel.Id == Model.PostViewModels.FirstOrDefault()?.Id)
                    {
                        <div class="carousel-item active">
                            <h6 class="border-bottom">
                             <i class="fa fa-question-circle" style="color:black"></i>   <a href="@Url.Action("ShowFaq","Faq",new {faqId=faqtModel.Id})" target="_blank">  @faqtModel.Question </a>
                            
                                </h6>
                            <span ><i class="fa fa-user"></i>@faqtModel.UserFullName</span>
                            <span >@faqtModel.Date </span>
                          </div>
                    }
                    else
                    {
                        <div class="carousel-item ">
                            <h6 class="border-bottom">
                                <i class="fa fa-question-circle" style="color:black"></i>    <a href="@Url.Action("ShowFaq","Faq",new {faqId=faqtModel.Id})" target="_blank">  @faqtModel.Question </a>
                                
                            </h6>
                            <span ><i class="fa fa-user"></i>@faqtModel.UserFullName </span>
                            <span >@faqtModel.Date </span>
                        </div>
                    }

                }
                @foreach (var postModel in Model.PostViewModels)
                {
                    if (postModel.Id == Model.PostViewModels.FirstOrDefault()?.Id)
                    {
            <div class="carousel-item active">
                <h6 class="border-bottom">
                    <i class="fa fa-info-circle" style="color:black"></i> <a href="@Url.Action("ShowPost", "Post", new {postId = postModel.Id})" target="_blank"> <i class="fa fa-question-circle-o"></i> @postModel.Title </a>

                </h6>
                <span ><i class="fa fa-user"></i>@postModel.UserFullName </span>
                <span >@postModel.Date </span>

            </div>
                    }
                    else
                    {
            <div class="carousel-item ">
              <h6 class="border-bottom">
                  <i class="fa fa-info-circle fa-2x" style="color:black"></i>    <a href="@Url.Action("ShowPost","Post",new {postId=postModel.Id})" target="_blank">     <i class="fa fa-question-circle-o"></i>  @postModel.Title </a>

                
                </h6>

                <span><i class="fa fa-user"></i>@postModel.UserFullName </span>
                <span >@postModel.Date </span>

            </div>
                    }

                }

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
       
    </div>
</div>

