@model QtasHelpDesk.ViewModels.Content.InformationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*@foreach (var faqwModel in Model.FaqViewModels)
{

   <div class="card">
        <div class="card-header bg-info" style="">
            <h6 class="panel-title text-white" itemprop="headline_name">
                <i class="fa fa-question-circle"></i>
                @faqwModel.Question
            </h6>
        </div>
           <div class="card-body"><i class="fa fa-reply"></i> پاسخ: @faqwModel.Reply</div>
        <div class="card-footer">  <i class="fa fa-user-circle"></i> نوشته شده توسط :@faqwModel.UserFullName<i class="fa fa-clock-o"></i>  @faqwModel.Date</div>

            </div>
    <br />

}*@
@*<partial name="_Posts" model=@Model.PostViewModels />*@

<style>
    .loader {
        width: 100%;
        height: 300px;
     background:url('/images/loading.gif') no-repeat center center rgba(0,0,0,0.25)
    }

   
   
</style>


<div id="Faqs" >
    <div  class="loader"></div>

</div>
<br/>
<div id="Posts">
    <div  class="loader"></div>
</div>

@section Scripts
{
    <script>

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetFaqs","Faq")',
            success: function(response) {
                $('#Faqs').html(response);
            }
        });
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetPosts","Post")',
            success: function(response) {
                $('#Posts').html(response);
            }
        });
      
    </script>
    
   
    
}


