@using Kendo.Mvc.UI
@using NToastNotify.Helpers
@model UserGroupViewModel;
@{
    ViewData["Title"] = "EditUserGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Lib/Select2/css/select2.css" rel="stylesheet" />
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <div class="col-md-6">
                <h3 class="box-title">مدیریت سطح دسترسی</h3>
            </div>
            <div class="text-left col-md-6">
                <a href="@Url.Action("List")" class="btn btn-default"> <i class="fa fa-backward fa-lg "></i> بازگشت</a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <form id="userGroupForm">
                    <div class="col-md-offset-3 col-md-6 col-sm-9">
                        <div class="form-group row">
                            <label class="control-label col-md-3 text-left "> کاربران</label>
                            <div class="col-md-9">
                                <select id="userdropdown" asp-for="UserId" class="form-control"></select>
                                <span asp-validation-for="GroupId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3 text-left "> گروه ها</label>
                            <div class="col-md-9">
                                <select id="groupdropdown" asp-for="UserId" class="form-control"></select>
                                <span asp-validation-for="GroupId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-3 col-md-6 col-sm-9">
                        <div class="form-group row">
                            <div class="float-left">
                                <button id="btnSave" type="submit" class="btn btn-primary"> <i class="fa fa-save"></i>ذخیره</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="k-rtl">
                        @(Html.Kendo().Grid<UserGroupViewModel>().Name("UserGroup").
                              Columns(column =>
                              {
                                   column.Bound(c => c.GroupTitle).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains").SuggestionOperator(FilterType.Contains)));
                               
                                  column.Command(command => command.Destroy().Text("حذف"));
                              }).Pageable()
                              .Editable(ediitable=>ediitable.Mode(GridEditMode.InLine))
                              .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                              .DataSource(x => x.Ajax()
                                  .Read(read => read.Action("UserGroup_Read", "User").Data("GetAdditionalData"))
                                  .Destroy(destroy=>destroy.Action("UserGroup_Delete","User"))
                                  .Model(m => m.Id(g => g.Id)))
                              .Events(events => events.Remove("RemoveEvent")))
                              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script src="~/Lib/Select2/js/select2.js"></script>
    <script>
        $("#userGroupForm").submit(function(e) {
            e.preventDefault();
            $("#btnSave").prop("disabled", true);


            var userGroup = {
                userId: $('#userdropdown').val(),
                groupId: $("#groupdropdown").val()
            }
            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddUserToGroup","User")',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(userGroup)
                })
                .done(function(result) {
                    if (result != null) {
                        var grid = $("#UserGroup").data("kendoGrid");
                        grid.dataSource.read();
                        $("#btnSave").prop("disabled", false);
                    }
                });
        });

      $("#groupdropdown").select2({
                dir: 'rtl',
                placeholder: 'گروه را انتخاب کنید',
                selectOnClose: true,
                ajax: {
                    url: '@Url.Action("Get_Group", "Group")',
                    dataType: 'json',
                    processResults: function(data) {
                        return {
                            results: $.map(data,
                                function(item) {
                                    return {
                                        text: item.Text,
                                        id: item.Value
                                    }
                                })
                        }
                    }
                }
      });
      $("#userdropdown").select2({
                dir: 'rtl',
                placeholder: 'کاربر را انتخاب کنید',
                selectOnClose: true,
                ajax: {
                    url: '@Url.Action("Get_User", "User")',
                    dataType: 'json',
                    processResults: function(data) {
                        return {
                            results: $.map(data,
                                function(item) {
                                    return {
                                        text: item.Text,
                                        id: item.Value
                                    }
                                })
                        }
                    }
                }
            });

      $('#userdropdown').change(function() {
          var grid = $("#UserGroup").data("kendoGrid");
          grid.dataSource.read();
      });

         function GetAdditionalData() {

                     return {
                userId:  $('#userdropdown').val()

            }
        }

        function RemoveEvent() {
            //this.read();
        }

    </script>
}