@using Kendo.Mvc.UI
@model QtasHelpDesk.ViewModels.Content.PostViewModel
<div class="box-body">

    @Html.HiddenFor(x => x.Id)
    <input type="hidden" asp-for="FilePath"/>
    <div class="row">
        <div class="col-md-12">

            <div class="form-group">
                @Html.Label("", "گروه ", new { @class = "control-label col-md-1" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.GroupId, Model.SelectListItems, new { @class = "form-control", Id = "DropDown" })

                </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control date-textbox" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
           <div class="form-group">
               @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-6">
                    <textarea asp-for="Summary" rows="11" class="bg-info" 
                      style="width: 100%;  font-size: 14px; line-height: 18px; border: 1px none #dddddd; padding: 10px;"></textarea>
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.Decription, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10 ">
                    <div class="k-rtl">
                        @(Html.Kendo().EditorFor(x => x.Decription)

                                      .HtmlAttributes(new { style = "height:440px" })

                                      .ImageBrowser(imageBrowser => imageBrowser
                                          .Image("~/shared/Images/{0}")
                                          .Read("Read", "ImageEditor")
                                          .Create("Create", "ImageEditor")
                                          .Destroy("Destroy", "ImageEditor")
                                          .Upload("Upload", "ImageEditor"))

                        )
                    </div>

                    @Html.ValidationMessageFor(model => model.Decription, "", new { @class = "text-danger" })

                </div>
            </div>*@
            <div class="form-group">
                <div class="col-md-6 ">
                    <div class="form-group">
                     
                        <div class="col-md-6 ">
                            @(Html.Kendo().Upload()
                                          .Name("files")
                                          .Async(a => a
                                              .Save("SaveFile", "Post", new { FilePath = @Model.FilePath })
                                              .Remove("RemoveFile", "Post")
                                              .AutoUpload(true)
                                          )
                                          .Events(events => events

                                            
                                              .Success("onSuccess")
                                          )
                                          .Multiple(false)
                                          .Validation(validation =>
                                          {
                                              validation.AllowedExtensions(new string[] { ".doc", ".docx", ".pdf"});
                                              validation.MinFileSize(500);

                                          }))
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script>
    function onDataBound(e) {
        var defaultItem = e.sender.dataSource.at(0);
        e.sender.value(defaultItem.ProductID);
    }
   
    var filePath='';
    function onSuccess(e) {
        if (e.operation == "upload") {
            filePath = e.response.filePath;
            $("#@Html.IdFor(m=>m.FilePath)").val(filePath);


        }
    }
</script>